.main {
	flex: 1;
	&__header {
		padding: 2.5rem 2rem;
	}

	&__switch {
	}

	&__logo {
		width: 240px;
		height: 240px;
		display: inline-block;
		position: relative;
		margin-bottom: 3rem;

		@include viewport-md {
			width: 300px;
			height: 300px;
		}

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;
			width: 70%;
			height: 70%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			background: var(--hero-name-background);
			filter: blur(72px);
		}
	}

	&__logo-img {
		width: 100%;
		height: 100%;
	}

	&__title {
	}

	&__badges {
		margin: 3rem 0 5rem;
	}
}
