:root {
	--main-color: #1e1e20;
	--second-color: #161618;
	--mute-color: #313136;
	--main-text-color: rgba(255, 255, 245, .86);
	--second-text-color: rgba(235, 235, 245, .6);
	--hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
	--brand-color: #646cff;
	--brand-light-color: #747bff;
}
[data-theme="light"] {
	--main-color: rgba(255, 255, 245, .86);
	--second-color: #fff;
	--mute-color: rgba(235, 235, 245, .6);
	--main-text-color: #161618;
	--second-text-color: #1e1e20;
}