@import 'mixins';

body {
	background: #000;

	@include viewport-sm {
		background: darkblue;
	}
}

.container {
	display: flex;
	display: grid;
	background-clip: text;
	color: red;

	@include viewport-sm {
		color: white;
	}
}